body {
    margin: 0;
    padding: 0;
    height: 90vh;
    font-family: 'Segoe UI', sans-serif;
    background-color: #edf5fa;
    direction: rtl;
    color: #2d3e50;
    background: url("x.jpg") no-repeat center/ cover ;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    order: 2;
}


.nav-links {
    color: white;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    order: 1;
}

.navbar {
    background-color: #004b87;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    color: white;
}


.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ff9800;
    text-decoration: none;
}

.login-btn {
    background-color: #ff9800;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #e58900;
}