h1,
p,
.cta-button {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    background: url("x.jpg") no-repeat center/ cover ;
    background-color: #004b87;
    padding: 0px 5px;
    color: white;
    height: 90vh;
    position: relative;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.041);
    z-index: 1;
}

.hero-text {
    font-size: 1.3em;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.cta-button {
    background: linear-gradient(90deg, #0078b8, #00b8ff);
    color: rgb(255, 255, 255);
    padding: 14px 28px;
    font-size: 1em;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 04px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3 ease;
}

.cta-button:hover {
    transform: scale(1.05);
    background-color: #004b87;
}