.Reserve {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    max-width: 550px;
    margin: 140px auto;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    color: white;
}

.Reserve h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.Reserve button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #0078b8, #00b8ff);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.Reserve button:hover{
   background:  #e58900;

}

