
h2{
    font-size: 200%; 
    font-weight: 500;
   text-align: right;
   color: rgb(255, 242, 253);
   text-shadow: 50px;
   margin: 20px 100px;
    
 }
 body{
    font-family: 'Segoe UI', 'sans-serif' ;
    color: white;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
}
table,h1,hr{
   animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
   from {
       opacity: 0;
   }

   to {
       opacity: 1;
   }
}
table{
  width: 80%;
  color: rgba(255, 255, 255, 0.836);
  font-size: 20px;
   position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   height: 30px;

}

hr{
    width: 85%;
    right: 20px;
}

tr{
   text-align: right;
   color: #ffffff;
}
td{
   text-align: right;
   vertical-align: top;
   color: rgb(255, 255, 255);
   font-weight: bold;
}

tr,td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

button{
    padding: 5px 10px ;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
}